* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Illustrations/Bathome1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    color: white;
}


/* debut texte */

.entete,
.sect-batman1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.entete>.container {
    display: flex;
    flex-direction: row;
    border-left: 3px solid rgba(255, 255, 255, 0.096);
    border-right: 3px solid rgba(255, 255, 255, 0.096);
    border-bottom: 3px solid rgba(255, 255, 255, 0.096);
    width: 90%;
    height: 100px;
}

.entete_item>h1 {
    font-size: 18px;
    color: #fff;
}

.entete_item {
    margin-top: 15px;
}

.item1 {
    text-align: center;
    flex-grow: 1;
}

.item2 {
    flex-grow: 4;
}

.item3 {
    text-align: center;
    flex-grow: 1;
}


/* fin texte */

.sect-batman1 {
    width: 100%;
    text-align: center;
    height: 1000px;
}

.itembat1,
.multimedia,
.bande-annonce {
    border-left: 3px solid rgba(255, 255, 255, 0.096);
    border-right: 3px solid rgba(255, 255, 255, 0.096);
    width: 90%;
}

.sect-batman1>.itembat1>.btn {
    width: 200px;
    height: 40px;
    margin: 12px;
}

.btn {
    color: white;
    border: none;
    background: linear-gradient(-20deg, rgba(180, 28, 28, 0.8), rgba(235, 225, 225, 0.4) 130%)
}

.fleche {
    margin-top: 120px;
}

.batcinema {
    margin: 50px;
    width: 80%;
    text-align: left;
}

.batcinema>p {
    text-align: justify;
    letter-spacing: 2px;
}

.boite-bat {
    display: flex;
    background-color: rgb(168, 53, 53);
    margin: 0 auto;
    justify-content: center;
    width: 90%;
}

.boite-bat>.item-bat {
    margin: 30px;
    background-color: rgb(255, 0, 149);
    width: 400px;
    height: 400px;
}


/* j'utilise 2 boites pour premier boite c'est les zoom que je veux faire après pour les element de coté ne bouge pas quant je fais zoom après */

.boite-bat>.item-bat>.card {
    margin: 20px;
    height: 360px;
    background-color: rgb(40, 13, 160);
    transition: transform .1s;
}

.boite-bat>.item-bat>.card:hover {
    -ms-transform: scale(1.4);
    /* IE 9 */
    -webkit-transform: scale(0.4);
    /* Safari 3-8 */
    transform: scale(1.4);
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container>img {
    width: 100%;
}

.multimedia {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(172, 40, 40);
}

.item1-multimedia {
    flex-grow: 1;
}

.item2-multimedia {
    display: inline-flex;
    flex-grow: 4;
    width: 500px;
    height: 250px;
    background-color: aqua;
}

.item3-multimedia {
    flex-grow: 1;
}

.slider {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 47%;
    height: 240px;
    z-index: 1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@keyframes fading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-shown {
    animation: fading 5s;
    z-index: 4;
}

.article {
    margin: 10px;
    width: 68;
    text-align: left;
}

.article>h1 {
    font-size: 15px;
    margin-top: 5px;
}

.article>h3 {
    font-size: 15px;
    margin-top: 8px;
}

.article>h3>span {
    color: #FFFF00;
}

.article>h2 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
}

.article>p {
    margin-top: 3px;
}

.slide1 {
    background-image: linear-gradient(60deg, #c4c4c4, rgb(128, 128, 128));
}

.slide2 {
    background-color: rgb(0, 156, 39);
}

.slide3 {
    background-color: rgb(255, 0, 179);
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton-play {
    position: relative;
    top: 370px;
    z-index: 2;
}

.bd-annonce {
    visibility: hidden;
}

.newsletter {
    position: relative;
    top: 3200px;
    background-color: #fff;
}

.news-bloc {
    background-color: red;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

form>label {
    display: block;
}

.label2 {
    width: 450px;
}

form>input {
    display: block;
    width: 99%;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}


/* Style The Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    width: 99%;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}