* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Illustrations/Bathome1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    color: white;
}


/* debut texte */

.entete,
.sect-batman1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
}

.entete>.container {
    display: flex;
    flex-direction: row;
    border-left: 3px solid rgba(255, 255, 255, 0.096);
    border-right: 3px solid rgba(255, 255, 255, 0.096);
    border-bottom: 3px solid rgba(255, 255, 255, 0.096);
    width: 90%;
    height: 100px;
}

.entete_item>h1 {
    font-size: 18px;
    color: #fff;
}

.entete_item {
    margin-top: 15px;
}

.item1 {
    text-align: center;
    flex-grow: 1;
}

.item2 {
    flex-grow: 4;
}

.item3 {
    text-align: center;
    flex-grow: 1;
}


/* fin texte */

.sect-batman1 {
    width: 100%;
    text-align: center;
    height: 1000px;
}

.itembat1,
.multimedia {
    border-left: 3px solid rgba(255, 255, 255, 0.096);
    border-right: 3px solid rgba(255, 255, 255, 0.096);
    width: 90%;
}

.sect-batman1>.itembat1>.btn {
    width: 200px;
    height: 40px;
    margin: 12px;
}

.btn {
    color: white;
    border: none;
    background: linear-gradient(-20deg, rgba(180, 28, 28, 0.8), rgba(235, 225, 225, 0.4) 130%)
}

.fleche {
    margin-top: 120px;
}

.batcinema {
    margin: 50px;
    width: 80%;
    text-align: left;
}

.batcinema>p {
    text-align: justify;
    letter-spacing: 2px;
}

.boite-bat {
    display: flex;
    background-color: rgb(168, 53, 53);
    margin: 0 auto;
    justify-content: center;
    width: 90%;
}

.boite-bat>.item-bat {
    margin: 30px;
    background-color: rgb(255, 0, 149);
    width: 400px;
    height: 400px;
}


/* j'utilise 2 boites pour premier boite c'est les zoom que je veux faire après pour les element de coté ne bouge pas quant je fais zoom après */

.boite-bat>.item-bat>.card {
    margin: 20px;
    height: 360px;
    background-color: rgb(40, 13, 160);
    transition: transform .1s;
}

.boite-bat>.item-bat>.card:hover {
    -ms-transform: scale(1.4);
    /* IE 9 */
    -webkit-transform: scale(0.4);
    /* Safari 3-8 */
    transform: scale(1.4);
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container>img {
    width: 100%;
}

.multimedia {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(172, 40, 40);
}

.item1-multimedia {
    flex-grow: 1;
}

.item2-multimedia {
    display: inline-flex;
    flex-grow: 4;
    width: 500px;
    height: 250px;
    background-color: aqua;
}

.item3-multimedia {
    flex-grow: 1;
}

.slider {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.slide {
    position: absolute;
    width: 47%;
    height: 240px;
}

.slide1 {
    background-color: red;
}

.slide2 {
    background-color: rgb(0, 156, 39);
    visibility: hidden;
    opacity: 0;
}

.slide3 {
    background-color: rgb(255, 0, 179);
    opacity: 0;
    visibility: hidden;
}